<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frontend.mappers.MockMapper">


  <insert id="insertNew" parameterType="com.frontend.mockable.MCMockInfo" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO MockData(name, method, path, groupid) values(#{name}, #{method}, #{path},#{groupid})
  </insert>

  <delete id="delete">
    DELETE FROM MockData WHERE id=#{0};
    DELETE FROM MockSence WHERE mockid=#{0};
  </delete>

  <update id="update" parameterType="com.frontend.mockable.MCMockInfo">
    UPDATE MockData set name=#{name}, method=#{method}, path=#{path}, groupid=#{groupid}, updatetime=null where id=#{id}
  </update>

  <update id="active" parameterType="com.frontend.mockable.MCMockInfo">
    UPDATE MockData set sceneid=#{sceneid}, enabled=#{enabled}, updatetime=null where id=#{id}
  </update>

  <select id="findAllMock" resultType="com.frontend.mockable.MCMockInfo">

    SELECT a.*, b.name as groupname FROM MockData a LEFT JOIN MockGroup b ON a.groupid = b.id WHERE
    b.appid=#{user.app.id} and b.uid=#{user.id}

    <choose>
      <when test="groupid != null">
        and b.id=#{groupid}
      </when>
      <otherwise>
      </otherwise>
    </choose>

    LIMIT #{page.begin},#{page.end}
  </select>

  <!-- 接口分类 -->

  <update id="updateGroup" parameterType="com.frontend.mockable.MCMockGroup" useGeneratedKeys="true" keyProperty="id">
    <if test="id != null">
      UPDATE MockGroup SET name=#{name} WHERE appid=#{appid}
    </if>
    <if test="id == null">
      INSERT INTO MockGroup(name,appid, uid) VALUES(#{name}, #{appid}, #{uid})
    </if>
  </update>

  <select id="findAllGroup" resultType="com.frontend.mockable.MCMockGroup">
    SELECT * FROM MockGroup WHERE appid=#{0} and uid=#{1}
  </select>

  <delete id="deleteGroup" parameterType="com.frontend.mockable.MCMockGroup">
    DELETE FROM MockGroup where id=#{id}
  </delete>

  <!-- 场景 -->
  <update id="updateScene" parameterType="com.frontend.mockable.MCMockScene" useGeneratedKeys="true" keyProperty="id">
    <if test="id != null">
      UPDATE MockScene SET name=#{name}, response=#{response}, updatetime=null WHERE id=#{id}
    </if>
    <if test="id == null">
      INSERT INTO MockScene(name,response, mockid) VALUES(#{name}, #{response}, #{mockid})
    </if>
  </update>

  <delete id="deleteScene" parameterType="com.frontend.mockable.MCMockGroup">
    DELETE FROM MockScene where id=#{id}
  </delete>

  <select id="findAllScene" resultType="com.frontend.mockable.MCMockScene">
    SELECT * FROM MockScene WHERE mockid=#{0} order by updatetime desc
  </select>

  <select id="findScene" resultType="com.frontend.mockable.MCMockScene">
    SELECT * FROM MockScene WHERE id=#{0}
  </select>

  <!-- 参数 -->
  <select id="findAllParam" resultType="com.frontend.mockable.MCMockParam">
    SELECT * FROM MockParam WHERE 1=1
    <if test="appid != null">
      AND appid=#{appid}
    </if>
    <if test="sceneid != null">
      AND sceneid=#{sceneid}
    </if>
  </select>

  <update id="updateParam" parameterType="com.frontend.mockable.MCMockParam" useGeneratedKeys="true" keyProperty="id">
    <if test="id != null">
      UPDATE MockParam SET name=#{name}, comment=#{comment}, updatetime=null WHERE id=#{id}
    </if>
    <if test="id == null">
      INSERT INTO MockParam(name, value, comment, sceneid, appid, updatetime) VALUES(#{name}, #{value}, #{comment},
      #{sceneid}, #{appid}, NULL)
    </if>
  </update>

  <delete id="deleteParam">
    DELETE FROM MockParam where id=#{0}
  </delete>

</mapper>
