<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frontend.mappers.UserRoleMapper">

  <resultMap id="userWithApp" type="com.frontend.domain.MCUserInfo">
    <id column="id" property="id"></id>
    <result column="username" property="username"></result>
    <result column="password" property="password"></result>
    <result column="name" property="name"></result>
    <result column="token" property="token"></result>
    <result column="roleid" property="roleid"></result>
    <result column="rolename" property="rolename"></result>
    <result column="rolelevel" property="rolelevel"></result>
    <result column="expire" property="expire"></result>
    <association property="app" javaType="com.frontend.domain.MCAppInfo">
      <id column="app_id" property="id"></id>
      <result column="app_identify" property="identify"></result>
      <result column="app_name" property="name"></result>
      <result column="app_shared" property="shared"></result>
    </association>
  </resultMap>
  <insert id="inserUser">
    INSERT INTO User (username,password,name,roleid) VALUES(#{username},#{password},#{name},#{roleid});
  </insert>

  <update id="updateUser">
    UPDATE User
    <set>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="roleid != null">
        roleid = #{roleid},
      </if>
    </set>

    where id = #{id}
  </update>

  <update id="resetPwd">
    UPDATE User SET password = #{password} WHERE id = #{id}
  </update>

  <delete id="deleteUser">
    UPDATE User set deleteTag=1 where id = #{0}
  </delete>

  <select id="findUserList" resultMap="userWithApp">
    SELECT
    null as password,
    a.*,
    b.name AS rolename,
    b.level AS rolelevel,
    c.id AS app_id,
    c.name AS app_name,
    c.identify AS app_identify,
    c.shared AS app_shared
    FROM
    User a
    LEFT JOIN UserRole b ON a.roleid = b.id
    LEFT JOIN Project c ON a.appid = c.id
    WHERE a.deleteTag=0
  </select>

  <select id="isLogin" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM User a WHERE a.token=#{0} AND a.expire&gt;#{1}
  </select>

  <update id="login" parameterType="java.util.Map">
    INSERT OR REPLACE INTO UserSession ( token, expire, uid, platform ) SELECT
    #{token},
    #{stamp}+3600*24*28*1000,
    ( SELECT id FROM User a WHERE a.username = #{username} AND a.password = #{password} and deleteTag=0 ),
    #{platform}
  </update>

  <update id="changeApp">
    UPDATE User set appid=#{0} where id=#{1}
  </update>

  <select id="findByLogin" resultMap="userWithApp">
    SELECT NULL AS
    password,
    a.*,
    d.token,
    d.expire,
    d.platform,
    b.name AS rolename,
    b.level AS rolelevel,
    c.id AS app_id,
    c.name AS app_name,
    c.identify AS app_identify,
    c.shared AS app_shared
    FROM
    User a
    LEFT JOIN UserRole b ON a.roleid = b.id
    LEFT JOIN Project c ON a.appid = c.id
    LEFT JOIN UserSession d ON a.id = d.uid
    WHERE
    a.username = #{username}
    AND a.password = #{password}
    AND d.platform = #{platform}
    AND d.token= #{token}
    AND d.expire &gt; #{stamp}

  </select>

  <select id="findByToken" resultMap="userWithApp">
    SELECT NULL AS
    password,
    a.*,
    d.token,
    d.expire,
    d.platform,
    b.name AS rolename,
    b.level AS rolelevel,
    c.id AS app_id,
    c.name AS app_name,
    c.identify AS app_identify,
    c.shared AS app_shared
    FROM
    User a
    LEFT JOIN UserRole b ON a.roleid = b.id
    LEFT JOIN Project c ON a.appid = c.id
    LEFT JOIN UserSession d ON a.id = d.uid
    WHERE
    d.platform = #{platform}
    AND d.token= #{token}
    AND d.expire &gt; #{stamp}
  </select>

  <update id="updateByToken">
    UPDATE UserSession SET expire=#{1} WHERE token=#{0}
  </update>

  <select id="findRoleList" resultType="com.frontend.domain.MCUserRole">
    SELECT * FROM UserRole
  </select>

</mapper>
