[Unit]
Description=The canary backend server
After=network.target

[Service]
WorkingDirectory=/usrl/local/etc/canary
ExecStart=/usr/local/etc/canary/x86_64-unknown-linux-gnu serve --env prod
StandardOutput=append:/var/log/canary/access.log
StandardError=append:/var/log/canary/error.log
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
Restart=always
RestartSec=5
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
