[Unit]
Description=The canary backend server
After=network.target

[Service]
Environment=SYSTEMD_LOG_LEVEL=debug
WorkingDirectory=/usr/local/etc/canary
ExecStart=/usr/local/etc/canary/x86_64-unknown-linux-gnu --log debug
StandardOutput=tty
StandardError=tty
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
Restart=always
RestartSec=5
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target