<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frontend.mappers.EnvConfigMapper">
    <resultMap id="onlyone" type="com.frontend.domain.MCEnvConfig"></resultMap>

    <resultMap id="list" type="com.frontend.domain.MCEnvConfigDetail"></resultMap>

    <insert id="insert" parameterType="com.frontend.domain.MCEnvConfig" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO RemoveConfig(name, comment, type, appId, author, isDefault) VALUES(#{name}, #{comment}, #{type}, #{appId},
        #{author}, #{isDefault})
    </insert>
    <update id="update" parameterType="com.frontend.domain.MCEnvConfig">
        UPDATE RemoveConfig SET `name`=#{name},type=#{type},`comment`=#{comment},author=#{author} WHERE id=#{id}
    </update>

    <select id="findByName" parameterType="com.frontend.domain.MCEnvConfig" resultMap="onlyone">
        SELECT * FROM RemoveConfig WHERE appId=#{appId} AND `name`=#{name} LIMIT 0,1
    </select>

    <select id="findById" parameterType="com.frontend.domain.MCEnvConfig" resultMap="onlyone">
        SELECT * FROM RemoveConfig WHERE id=#{1} LIMIT 0,1
    </select>

    <select id="findByAppId" resultMap="list">
        SELECT * FROM (
        SELECT
        a.*,
        b.`name` AS appname,
        ( SELECT count( * ) FROM RemoteConfigParam WHERE envid = a.id ) subItemsCount
        FROM
        envconfig a
        LEFT JOIN apps b ON a.appId = b.id
        WHERE a.type=#{type} or #{type} = -1) a where a.appid in (select id from apps where disable=0 and (appId=#{appId} or #{appId}=0))
        ORDER BY updateTime DESC
    </select>

    <select id="findByAppIdPage" resultMap="list">
        SELECT
        a.*,
        b.`name` AS appname,
        ( SELECT count( * ) FROM RemoteConfigParam WHERE envid = a.id ) subItemsCount
        FROM
        envconfig a
        LEFT JOIN apps b ON a.appId = b.id
        WHERE
        a.appId=#{0} or #{0}=0
        ORDER BY
        a.id DESC limit #{1},#{2}
    </select>

    <select id="findByAppKey" resultMap="onlyone">
        SELECT a.* FROM RemoteConfig a LEFT JOIN apps b on a.appId = b.id WHERE b.appkey = #{0} ORDER BY a.updateTime DESC

    </select>

    <update id="deleteById">
        DELETE a.*,b.* FROM RemoteConfig a LEFT JOIN envconfigitem b on a.id = b.envid WHERE a.id = #{id}
    </update>
</mapper>
