<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frontend.mappers.EnvConfigItemMapper">

    <resultMap id="list" type="com.frontend.domain.MCEnvConfigItem">
    </resultMap>

    <select id="findByEnvId" resultMap="list">
        select a.*,b.name as author from RemoteConfigParam a LEFT JOIN User b on a.uid=b.id where envid=#{envid} order by updateTime desc
    </select>

    <insert id="insertNew" parameterType="com.frontend.domain.MCEnvConfigItem">
        INSERT INTO RemoteConfigParam(`name`, `value`, envid, `comment`, uid,`type`,`platform`, `updateTime`) VALUES(#{name},#{value},#{envid},#{comment},#{uid},#{type},#{platform}, STRFTIME('%s', 'now')*1000 + SUBSTR(STRFTIME('%f', 'now'), 4))
    </insert>
    <insert id="copyFromEnvId">
        INSERT INTO RemoteConfigParam(`name`,`value`,envid,`comment`,`uid`, `type`,`platform`)
        SELECT `name`,`value`,#{0},`comment`,#{1},`type`,`platform` FROM RemoteConfigParam a WHERE a.envid = #{2};
    </insert>

    <delete id="delete">
        DELETE FROM RemoteConfigParam WHERE id = #{0}
    </delete>

    <update id="update" parameterType="com.frontend.domain.MCEnvConfigItem">
        UPDATE RemoteConfigParam SET `name`=#{name},`value`=#{value},`comment`=#{comment},`uid`=#{uid},`platform`=#{platform}, updateTime=STRFTIME('%s', 'now')*1000 + SUBSTR(STRFTIME('%f', 'now'), 4) where id=#{id}
    </update>
</mapper>
